body {
    font-family: 'Courier New', Courier, monospace, cadetblue;
    font-size: 2rem;
}

.wrapper {
    margin: 0 auto;
    padding: 70px 150px 0;
    min-height: 230px;
    background-color:darkred;

}
ul li {
    list-style: none;
}
hr {
    color: cornsilk;
}
.header {
    background-color: burlywood;
    width: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    text-align: center;
}

.menu__link {
    text-decoration: none;
}
.menu__link:hover {
    opacity: .3;
}
.code{
    background-color: bisque;

}
footer {
    background-color: burlywood;
    text-align: center;
    font-family: 'Courier New', Courier, monospace, cadetblue;
    width: auto;
    font-size: 15px;
    
}
.course__link {
    text-decoration: none;
    color: #333;
}
.course__link:hover {
    opacity: .3;
    text-decoration: underline;
}

